body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  color: #434455;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-section {
  border-bottom: 1px solid #e7e9fc;
}

.logo-icon {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
  margin-right: 76px;
}

.logo-icon-color {
  color: #2e2f42;
}

.logo-navlist {
  display: flex;
  align-items: center;
}

.navigation-menu {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}

.navigation-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.navigation-list-item:focus {
  color: #404bbf;
}
.navigation-list-item:hover {
  color: #404bbf;
}
.contacts-list {
  display: flex;
  padding: 24px 0;
  gap: 40px;
}

.contacts-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-list-address {
  font-style: normal;
  text-decoration: none;
  display: flex;
}
.contacts-list-item:hover {
  color: #404bbf;
}
.contacts-list-item:focus {
  color: #404bbf;
}

.title-solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.order-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  display: block;
  min-width: 169px;
}

.order-btn:hover {
  background-color: #404bbf;
}
.order-btn:focus {
  background-color: #404bbf;
}

.box-model {
  background-color: #2e2f42;
  padding: 188px 0;
}

.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.strategy-box {
  width: calc((100% - 72px) / 4);
}

.strategy-list {
  display: flex;
  gap: 24px;
}

.strategy-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.strategy-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-box-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;
}

.team-box-list {
  display: flex;
  gap: 24px;
}

.team-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 32px;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-box {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc(100% - 3 * 24px) / 4;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-section {
  padding: 120px 0;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-box-model {
  width: calc(100% - 2 * 24px) / 3;
}

.portfolio-text-box-model {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.footer-box-model {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.footer-logo-icon {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.portfolio-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
