body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  color: #434455;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.logo-icon {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-icon-color {
  color: #2e2f42;
}

.logo-navlist {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.navigation-menu {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}

.navigation-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.navigation-list-item:focus,
.navigation-list-item:hover {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  border-radius: 2px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.contacts-list {
  display: flex;
  padding: 24px 0;
  gap: 40px;
}

.contacts-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list-address {
  font-style: normal;
  text-decoration: none;
  display: flex;
}
.contacts-list-item:hover,
.contacts-list-item:focus {
  color: #404bbf;
}

.title-solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.order-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  display: block;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

.box-model {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: auto;
}

.section-team {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.strategy-box {
  width: calc((100% - 72px) / 4);
}

.icon-box-model {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.strategy-list {
  display: flex;
  gap: 24px;
}

.strategy-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.strategy-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-box-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;
}

.team-box-list {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.team-box {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.team-person {
  padding: 32px 0;
}

.team-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.person-social-links-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.person-social-links-item {
  width: 40px;
  height: 40px;
}

.social-network {
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.social-network-icon {
  fill: #f4f4fd;
}

.team-box .social-network {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-box:hover .social-network {
  background-color: #404bbf;
}

.social-network:focus {
  background-color: #404bbf;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-section {
  padding: 120px 0;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-box-model {
  width: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box-model:hover,
.portfolio-box-model:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.project-card-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-box-model:hover .project-card-cover-text,
.portfolio-box-model:focus .project-card-cover-text {
  transform: translateY(0%);
}

.project-card-cover-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
  width: 100%;
}

.portfolio-text-box-model {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.footer-box-model {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.footer-logo-icon {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.portfolio-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.social-networks-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-menu {
  display: flex;
  align-items: baseline;
}

.logo-text {
  margin-right: 120px;
}

.social-networks-list-text{
margin-right: 80px;
}

.footer-social-network-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-network-link:focus,
.footer-social-network-link:hover {
  background-color: #31d0aa;
}

.footer-social-network-link {
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.blackdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blackdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
}

.modal-close {
  margin-left: auto;
  margin-bottom: 24px;
  display: block;
  border-radius: 100%;
  border: 1px solid #d0d2e3;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-btn{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover{
  border-color: #404bbf;
  background-color: #404bbf;
}

.modal-close:hover .modal-icon-btn {
  fill: white;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-box {
  margin-bottom: 8px;
  display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.modal-comment-box {
  margin-bottom: 16px;
}

input {
  border: none;
}

.input-wrap{
  position: relative;
}

.modal-box-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  background-color: transparent;
  padding: 11px 38px;
  color: rgba(46, 47, 66, 0.4);
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box-input::placeholder{
  color: rgba(46, 47, 66, 0.4);
}

.modal-box .modal-box-input:hover, .modal-box .modal-box-input:focus{
  border: 1px solid #4d5ae5;
}

.modal-box .modal-box-input:hover + svg,
.modal-box .modal-box-input:focus + svg{
  fill: #4d5ae5;
}

.modal-box svg {
  position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    cursor: pointer;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box-icon {
  fill: #2e2f42;
}

.modal-comment-text {
  border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
      background-color: transparent;
      padding: 8px 16px;
      color: rgba(46, 47, 66, 0.4);
      outline: none;
}

.modal-box .modal-comment-text:hover,
.modal-box .modal-comment-text:focus {
  border: 1px solid #4d5ae5;
}

.modal-comment-text::placeholder{color: rgba(46, 47, 66, 0.4);}


.submit-btn {
  border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      background: #4d5ae5;
      display: block;
      margin: auto;
      line-height: 24px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        font-weight: 500;
    font-size: 16px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover{
  background-color: #404bbf;
}

.check-privacy:checked + .checkbox-privacy-text .checkbox-frame {
  background-color: #404bbf;;
}

.checkbox-frame {
  border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
}

.checkbox-frame svg{
fill: #f4f4fd;
}

.checkbox-form{
margin-bottom: 24px;
}

.checkbox-privacy-text {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: flex;
align-items: center;
}

.checkbox-privacy-link{
  line-height: 16px;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    margin-left: 5px;
}

.subscribe-btn {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    border-radius: 4px;
      padding: 8px 24px;
      width: 165px;
      background-color: #4d5ae5;
      border: none;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn-icon {
  fill: white;
}

.subscribe-btn:hover {
  background-color: #404bbf;
}

.subscribe-box {
  display: flex;
  gap: 24px;
}

.subscribe-email {
  border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    background-color: transparent;
    outline: none;
    font-weight: 400;
      font-size: 12px;
      line-height: 24px;
      line-height: 2;
      letter-spacing: 0.04em;
      color: #fff;
}

.subscribe-email::placeholder {
  font-weight: 400;
    font-size: 12px;
    line-height: 24px;
      line-height: 2;
      letter-spacing: 0.04em;
      color: #fff;
}