body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  color: #434455;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  flex-shrink: 1;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

.header-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.logo-icon {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-icon-color {
  color: #2e2f42;
}

.logo-navlist {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.navigation-menu {
  display: flex;
  align-items: center;
  
}
.navigation-list {
  display: none;
}

.navigation-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.navigation-list-item:focus,
.navigation-list-item:hover {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  border-radius: 2px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.contacts-list {
  display: flex;
  padding: 24px 0;
  gap: 40px;
}

.contacts-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-address {
  font-style: normal;
  text-decoration: none;
  display: none;

}
.contacts-list-item:hover,
.contacts-list-item:focus {
  color: #404bbf;
}

.mob-menu-open-btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  padding: 4px 3px;
  border: none;
  margin-left: auto;
}

.mob-menu {
  width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 24px 24px 40px 16px;
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.mob-menu-close-btn {
  background-color: rgba(253, 253, 255, 1);
  position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    border-radius: 50%;
    border: 1px solid rgba(235, 235, 236, 1);
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
}

.mob-navigation-list {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    margin-top: 48px;
    margin-bottom: 168px;
}

.mob-navigation-list-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-navigation-list-item:hover, .mob-navigation-list-item:focus {
  color: #404bbf;
}

.mob-contacts-list-address {
font-style: normal;
text-decoration: none;
margin-top: auto;
margin-bottom: 48px;
}

.mob-contacts-list {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}

.mob-contacts-list-item {
  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contacts-list-item:hover, .mob-contacts-list-item:focus {
  color: #4d5ae5;
}

.mob-person-social-links-list {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}

.mob-person-social-links-list .social-network {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-person-social-links-list .social-network:hover {
  background-color: #404bbf;
}

.mob-person-social-links-list .social-network:focus {
  background-color: #404bbf;
}

.title-solutions {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
  max-width: 216px;
}

.order-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  display: block;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

.box-model {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  max-width: 320px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi)
{
.box-model {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/Dark-bg-mob-2x.jpg);
}
}

.box-model .container {
  padding: 0;
}
.section-team {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.strategy-box {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}

.icon-box-model {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.strategy-list {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
}

.strategy-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.strategy-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
    font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      margin: 0 auto;
      color: #2e2f42;
}

.section-box-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  margin-bottom: 72px;
}

.team-box-list {
  display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
    padding: 0 12px;
}

.team-box {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.team-person-img {
  width: 264px;
  height: 260px;
}

.team-person {
  padding: 32px 16px;
}

.team-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.person-social-links-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.person-social-links-item {
  width: 40px;
  height: 40px;
}

.social-network {
  border-radius: 60%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.social-network-icon {
  fill: #f4f4fd;
}

.team-box .social-network {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-box .social-network:hover {
  background-color: #404bbf;
}

.team-box .social-network:focus {
  background-color: #404bbf;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-section {
  padding: 96px 0;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 48px;
}

.portfolio-box-model {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-img {
  width: 288px;
  height: 280px;
}

.portfolio-box-model:hover,
.portfolio-box-model:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.project-card-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-box-model:hover .project-card-cover-text,
.portfolio-box-model:focus .project-card-cover-text {
  transform: translateY(0%);
}

.project-card-cover-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
  width: 100%;
}

.portfolio-text-box-model {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.footer-box-model {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.footer-logo-icon {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  text-align: center;

}
.portfolio-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.social-networks-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-menu {
  display: flex;
  align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
}

.logo-text {
  margin: 0 auto;
}

.social-networks-list-text{
margin: 0 auto;
}

.social-networks-list-text .social-networks-text {
  display: block;
  text-align: center;
}

.footer-social-network-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-network-link:focus,
.footer-social-network-link:hover {
  background-color: #31d0aa;
}

.footer-social-network-link {
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.blackdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
  visibility: visible;
}

.modal {
  position: absolute;
  width: 288px;
  height: 623px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-btn{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus{
  border: none;
  background-color: #404bbf;
}

.modal-close:hover .modal-icon-btn,
.modal-close:focus .modal-icon-btn {
  fill: white;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-box {
  margin-bottom: 8px;
  display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.modal-comment-box {
  margin-bottom: 16px;
}

input {
  border: none;
}

.input-wrap{
  position: relative;
}

.modal-box-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  background-color: transparent;
  padding: 11px 38px;
  color: rgba(46, 47, 66, 0.4);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.modal-box-input::placeholder{
  color: rgba(46, 47, 66, 0.4);
}

.modal-box .modal-box-input:hover, .modal-box .modal-box-input:focus{
  border: 1px solid #4d5ae5;
}

.modal-box .modal-box-input:hover + svg,
.modal-box .modal-box-input:focus + svg{
  fill: #4d5ae5;
}

.modal-box svg {
  position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    cursor: pointer;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-text {
  border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
      background-color: transparent;
      padding: 8px 16px;
      color: rgba(46, 47, 66, 0.4);
      outline: none;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      outline: transparent;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-box .modal-comment-text:hover,
.modal-box .modal-comment-text:focus {
  border: 1px solid #4d5ae5;
}

.modal-comment-text::placeholder{color: rgba(46, 47, 66, 0.4);}


.submit-btn {
  border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      background: #4d5ae5;
      display: block;
      margin: auto;
      line-height: 24px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        font-weight: 500;
    font-size: 16px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
}

.submit-btn:hover{
  background-color: #404bbf;
}

.check-privacy:checked + .checkbox-privacy-text .checkbox-frame {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-frame {
  border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
      align-items: center;
      justify-content: center;
      fill: transparent;
      flex-shrink: 0;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-frame svg{
fill: #f4f4fd;
}

.checkbox-form{
margin-bottom: 24px;
}

.checkbox-privacy-text {
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
color: #8e8f99;
display: flex;
align-items: center;
gap: 8px;
}

.checkbox-privacy-link{
  line-height: 16px;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.subcribe-wrap .social-networks-text {
  text-align: center;
}

.subscribe-btn {
    border-radius: 4px;
      padding: 8px 24px;
      min-width: 165px;
      background-color: #4d5ae5;
      border: none;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      letter-spacing: 0.04em;
      cursor: pointer;
      margin: auto;
      display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 16px;
        margin-top: 16px;
}

.subscribe-btn-icon {
  fill: white;
}

.subscribe-btn:hover {
  background-color: #404bbf;
}

.subscribe-email {
  border: 1px solid #ffffff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    background-color: transparent;
    outline: none;
    font-weight: 400;
      font-size: 12px;
      line-height: 24px;
      line-height: 2;
      letter-spacing: 0.04em;
      color: #ffffff;
        opacity: 0.3;
}

.subscribe-email::placeholder {
  font-weight: 400;
    font-size: 12px;
    line-height: 24px;
      line-height: 2;
      letter-spacing: 0.04em;
      color: #fff;
}

.subscribe-box .social-networks-text{margin-bottom: 0;}

@media screen and (min-width: 768px){
  .container{
    max-width: 768px;
      padding: 0 16px;
      margin-left: auto;
      margin-right: auto;
  }

  picture {
    flex-shrink: 0;
  }

  .logo-icon{
    margin-right: 120px;
  }
  .navigation-list {
    display: contents;
    display: flex;
    gap: 40px;
  }
  .mob-menu-open-btn {
    display: none;
  }

  .contacts-list-address {
    display: contents;
  }
  .contacts-list {
    gap: 12px;
    padding: 16px 0;
    flex-direction: column;
      margin-left: auto;
  }

  .contacts-list-item {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
  
  .box-model {
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/Dark-bg-tab-1x.jpg);
    max-width: 768px;
    padding: 112px 136px;
    }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
          .box-model {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
              url(../images/Dark-bg-tab-2x.jpg);
          }
        }
  .title-solutions {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .strategy-list {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 72px 24px;
    }
  .strategy-box {
      width: calc((100% - 24px) / 2);
    }
  .strategy-list-title {
      margin: 0;
    }

  .team-box-list {
flex-direction: row;
  flex-wrap: wrap;
  gap: 64px 24px;
  padding: 0 91px;
    }
 .team-box {
  width: calc((100% - 24px) / 2);
    }

 .portfolio-list {
  flex-wrap: wrap;
  flex-direction: row;
  gap: 72px 24px;
 }

 .portfolio-box-model {
  width: calc((100% - 24px) / 2);
 }

 .portfolio-img {
  width: 356px;
  height: 300px;
 }

 .footer-menu {
  flex-direction: row;
  gap: 72px 24px;
  flex-wrap: wrap;
  align-items: baseline;

 }

 .logo-text {
  margin: 0;
  margin-left: 108px;
 }

 .subscribe-box {
display: flex;
gap: 24px;
align-items: baseline;
 }

 .social-networks-list-text {
  margin: 0;
 }

 .subcribe-wrap {
 margin-left: 108px;
 }

.subcribe-wrap .social-networks-text {
  text-align: start;
}

.subscribe-email {
  width: 264px;
}

 .subscribe-btn {
  margin-top: 0;
 }

.modal {
  width: 408px;
  height: 584px;
  padding: 72px 24px 24px;
}
}

@media screen and (min-width: 1440px) {
.container {
    max-width: 1158px;
    padding: 0 15px;
  }

    picture {
      flex-shrink: 0;
    }

.logo-icon {
margin-right: 76px;
}

.contacts-list {
  gap: 40px;
  padding: 24px 0;
  flex-direction: row;
}

.contacts-list-item {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.box-model {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/Dark-bg-main-1x.jpg);
  max-width: 1440px;
  padding: 188px 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
  .box-model {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/Dark-bg-main-2x.jpg);
  }
}

.title-solutions {
  margin-bottom: 48px;
}

.icon-box-model {
  display: contents;
  display: flex;
}

.section-team {
  padding: 120px 0;
}

.strategy-list {
  gap: 24px;
  flex-wrap: nowrap;
}

.section-box-team {
  padding: 120px 0;
}

.strategy-box {
  width: calc((100% - 72px) / 4);
}

.strategy-text{
  font-weight: 400;
}
.strategy-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team-box-list {
  gap: 24px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.team-box {
  width: calc((100% - 3 * 24px) / 4);
}

.portfolio-section {
  padding: 120px 0;
}

.portfolio-section .container {
  margin: 0 auto;
}

.portfolio-list{
  gap: 40px 24px;
}

.portfolio-box-model {
width: calc((100% - 2 * 24px) / 3);}

.portfolio-img {
  width: 360px;
  height: 300px;
}


.footer-box-model {
  padding: 100px 0;
}

.footer-menu {
  gap: 0;
  flex-wrap: nowrap;
}

.logo-text {
  margin: 0;
  margin-right: 120px;
}

.footer-logo {
  text-align: start;
}

.social-networks-list-text .social-networks-text {
  text-align: start;
}

.subcribe-wrap {
  margin-left: auto;
}

.subscribe-email {
  opacity: 1;
}


}
